<% layout('../layout/html-templete') -%>
<div class="row">
    <div class="card col-8 offset-2 mb-3">
        <img src="<%=camp.imageUrl%>" class="card-img-top mt-2" alt="imageCard">
        <div class="card-body">
          <h5 class="card-title"><%=camp.title%></h5>
          <p class="card-text"><%=camp.description%></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><h3>Location:-<%=camp.location %></h3></li>
          <li class="list-group-item">Price:- Rs. <%=camp.price%>.00/-</li>
          <li class="list-group-item">Created on:-<%=camp.createdAt %></li>
          <li class="list-group-item">Updated on:-<%=camp.updatedAt%></li>
        </ul>
        <div class="card-body">
          <a href="/campground" class="btn btn-primary card-link">Back to Camps</a>
          <a href="/campground/<%=camp.id%>/edit" class="btn btn-info card-link">Edit Camp</a>
          <form class="d-inline ms-3" action="/campground/<%=camp.id%>?_method=delete" method="post">
                <button class="btn btn-danger">Delete</button>
            </form>
          
        </div>
      </div>
</div>
